<div class="cottage-form">
  <h3>Edit Property Listing</h3>
  <%= simple_form_for @cottage do |f| %>
    <%= f.input :name, label: "Title" %>
    <%= f.input :address, label: "Address" %>
    <%= f.input :description, label: "Description" %>
    <%= f.input :number_of_guests, label: "Number of guests:" %>
    <%= f.input :price_per_night, label: "Price per night:" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Confirm", class: "btn btn-primary", style: "width: 100%" %>
  <% end %>
</div>

<%= render "shared/footer" %>