<div class="container">
  <div class="row">
    <div class="col-12 my-4">
      <h2>Find your home away</h2>
    </div>
  </div>
</div>

<div class="album">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @cottages.each do |cottage| %>
          <div class="col">
            <div class="cottage-card shadow-sm">
              <div class="cottage-card-image">
                <% if cottage.photo.attached? %>
                  <%= image_tag cottage.photo, width: '100%', height: '300' %>
                <% end %>
              </div>
              <div class="cottage-card-body m-3">
                <p class="cottage-card-text fw-bold"><%= cottage.name %></p>
                <p class="cottage-card-text"><i class="fa-solid fa-location-dot" style="color: #5f6a7c;"></i>  <%= cottage.address %></p>
                <div class="d-flex justify-content-between">
                <p><i class="fa-solid fa-users" style="color: #5f6a7c;"></i> <%= cottage.number_of_guests %> guests</p>
                <p>£ <%= cottage.price_per_night %></p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="cottage-card-actions">
                    <%= link_to "Details", cottage_path(cottage), class: "btn btn-outline-primary" %>
                    <%= link_to "Edit",  edit_cottage_path(cottage), style: "color: #186F65", class: "btn btn-outline-success" %>
                    <%= link_to "Delete", cottage_path(cottage), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, style: "color: #FF0000", class: "btn btn-outline-danger" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
</div>
