<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="cottage-show-card mt-5">
        <h3><%= @cottage.name %></h3>
        <p class="d-inline-block text-emphasis mt-3 me-4"><i class="fa-solid fa-location-dot" style="color: #5f6a7c;"></i> <%= @cottage.address %></p>
        <div class="cottage-image">
          <% if @cottage.photo.attached? %>
            <%= image_tag @cottage.photo, width: '100%' %>
          <% end %>
        </div>
      </div>

      <div class="cottage-show-card mt-5">
        <h4>Overview</h4>
        <p>3 bedrooms</p>
        <p><i class="fa-solid fa-users" style="color: #5f6a7c;"></i>  <%= @cottage.number_of_guests %> guests max.</p>
      </div>

      <hr class="solid my-5">
      <div class="cottage-show-card">
        <h4>Description</h4>
        <p><%= @cottage.description %></p>
      </div>

      <hr class="solid my-5">
      <div class="cottage-show-card">
        <h4>Location</h4>
        <div class="map-container mb-5" style="width: 100%; height: 500px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>

    <div class="col-4 mt-5">
      <div class="cottage-show-card book-form">
        <h4>Book this cottage</h4>
        <form>
          <div class="form-group mb-2">
            <label for="start-date-label">From: </label>
            <input type="text" class="form-control" id="start-date-label" aria-describedby="startLabel" placeholder="1/10/2023">
          </div>
          <div class="form-group mb-2">
            <label for="end-date-label">To: </label>
            <input type="text" class="form-control" id="end-date-label" aria-describedby="endLabel" placeholder="7/10/2023">
          </div>
          <div class="form-group mb-2">
            <label for="guests">No. of guests</label>
            <input type="guests" class="form-control" id="guests" placeholder="6 guests">
            <div class="form-text d-flex justify-content-between">
              <p>Price per night</p>
              <p>From £<%= @cottage.price_per_night%></p>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" style="width: 100%">Check Availability</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>